@media screen and (max-width: 1330px) {
  #showcase {
    top: 130px;
    .showcase-content {
      grid-gap: 0rem 2rem;
      .showcase-text {
        width: 100%;
        h1 {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1230px) {
  #showcase .showcase-content .showcase-text {
    h4 {
      width: 100%;
    }

    a {
      width: 60%;
    }
  }

  #what {
    width: 90%;
  }
}

@media screen and (max-width: 1130px) {
  #header {
    padding-left: 1rem;
  }
  #showcase {
    width: 90%;
  }

  #services {
    a {
      width: 35%;
    }
  }

  #leading .leading-content .leading-text a {
    width: 50%;
  }

  #leading .leading-content .leading-img img {
    width: 80%;
    height: 70%;
  }

  #download .download-content .download-text a {
    width: 50%;
  }

  #download .download-content .download-img img {
    width: 90%;
    height: 70%;
  }

  #article {
    width: 90%;

    .article-content .card-container {
      grid-gap: 1rem;
    }

    a {
      width: 35%;
    }
  }
  // #footer .footer-container .footer-content {
  //   grid-template-columns: 40% 20% 20% 20%;
  //   grid-gap: 0rem;
  // }

  // #footer .footer-container .footer-content .footer-logo {
  //   width: 80%;
  // }

  // #footer .footer-container .footer-content .footer-logo h3 {
  //   margin: 0.5rem 0rem 2rem 0rem;
  //   font-size: 16px;
  //   line-height: 28px;
  //   mix-blend-mode: normal;
  //   width: 291px;
  // }

  // #footer .footer-container .footer-content .footer-logo h4 {
  //   font-size: 13px;
  // }
}
@media screen and (max-width: 998px) {
  #header {
    padding-left: 2rem;
  }

  .line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
  }

  nav {
    position: absolute;
    // right: 0%;
    background: #5a98f2;
    // box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    // top: 0%;
    // height: 100%;
    // width: 100%;
  }

  .hamburger {
    position: fixed;
    cursor: pointer;
    background: #458ff6;
    padding: 0.2rem;
    border-radius: 5px;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2000;
  }

  .nav-links {
    // display: flex;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0%;
    background: linear-gradient(#eee, #5a98f2);
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 100%;
    -webkit-clip-path: circle(100px at 120% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 200;
  }

  .nav-links.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -1%);
    pointer-events: all;
  }

  .nav-links li {
    // line-height: 5;
    // display: block;
    opacity: 0;
  }

  .nav-links li a {
    text-align: center;
    margin: auto;
    // display: block;
    font-size: 25px;
    width: 100%;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }

  li.fade {
    opacity: 1;
  }
  // #showcase .showcase-content {
  //   top: 30%;
  // }

  #showcase .showcase-content .showcase-text h1 {
    font-size: 35px;
  }
  #showcase .showcase-content .showcase-text h4 {
    font-size: 18px;
  }

  #services {
    width: 90%;

    .services-content {
      h4 {
        width: 100%;
      }
      .card-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  #leading {
    margin-top: 9rem;
    .leading-content {
      grid-template-columns: 100%;

      .leading-text {
        margin-left: 0;
        h1 {
          margin-bottom: 0;
        }
        h4 {
          margin-bottom: 2rem;
        }
      }

      img {
        display: none;
      }
    }
  }
  #download {
    margin-top: 9rem;
    .download-content {
      grid-template-columns: 100%;

      .download-text {
        h1 {
          margin-bottom: 0;
        }
        h4 {
          margin-bottom: 2rem;
        }
      }

      img {
        display: none;
      }
    }
  }

  #what {
    .what-content {
      .what-edward {
        grid-template-columns: 100%;
        text-align: center;
        .edward-pic {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  #showcase .showcase-content {
    grid-template-columns: 100%;
    .showcase-text {
      width: 100%;
      text-align: center;

      a {
        width: 100%;
        margin: auto;
      }
    }
  }
  #showcase .showcase-content .showcase-text h1 {
    width: 100%;
    margin-bottom: 2rem;
  }
  #showcase .showcase-content .showcase-text a {
    width: 60%;
  }

  #showcase .showcase-content .showcase-img img {
    display: none;
  }

  #article {
    width: 80%;
    // height: 350vh;
    margin-top: 10rem;
    margin-bottom: 4rem;
  }

  #article .article-content .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .article-container .btn-light {
    width: 50%;
    font-size: 100%;
    // margin-top: 6rem;
  }

  #footer .footer-container {
    width: 100%;
    .footer-content {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 2rem;

      .footer-company {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #services {
    width: 80%;

    .btn-light {
      width: 70%;
    }

    .services-content .card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  #what {
    padding: 2rem;
    height: 100%;
    .what-content {
      h1 {
        width: 100%;
        font-size: 30px;
        margin-bottom: 2rem;
      }
    }
  }

  #article {
    .article-container {
      .article-content {
        .card-container {
          grid-gap: 4rem 0;
        }
      }

      .btn-light {
        width: 70%;
        // display: none;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  #services .services-content h1 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  #services .services-content h4 {
    text-align: center;
    font-size: 16px;
    margin-top: 0rem;
    line-height: auto;
    width: 100%;
  }

  #services .services-content .card-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #services .services-content a {
    width: 80%;
  }

  #leading {
    width: 85%;
    margin-top: 2rem;
    .leading-content {
      .leading-text h1 {
        font-size: 22px;
        line-height: auto;
        width: 100%;
        color: #000;
        // mix-blend-mode: normal;
        margin-bottom: 0rem;
      }

      .leading-text h4 {
        font-size: 16px;
        line-height: auto;
        color: #7d7987;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 0rem;
      }
    }

    .leading-content .leading-text a {
      font-size: 90%;
      width: 60%;
    }
  }

  #download {
    width: 85%;
    margin-top: 0rem;
    .download-content {
      .download-text h1 {
        font-size: 22px;
        line-height: auto;
        width: 100%;
        color: #000;
        // mix-blend-mode: normal;
        margin-bottom: 0rem;
      }

      .download-text h4 {
        font-size: 16px;
        line-height: auto;
        color: #7d7987;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 0rem;
      }
    }

    .download-content .download-text a {
      font-size: 90%;
      width: 60%;
    }
  }

  // .what-edward-says {
  //   position: relative;
  //   top: 0;
  //   left: 137%;
  //   width: 300px;
  // }

  // .what-edward-says h3 {
  //   line-height: 25px;
  // }

  // #what .edward-founder {
  //   left: 260px;
  // }

  // #footer {
  //   position: relative;
  //   height: 900px;
  //   top: 700px;
  //   width: 100%;
  // }

  // #footer .footer-container {
  //   width: 100%;
  // }

  // #footer .footer-container .footer-content {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }

  // #footer .footer-container .footer-content .footer-company {
  //   width: 10%;
  //   margin-top: 0.5rem;
  // }

  // .footer-company .company-links a {
  //   width: 10%;
  // }

  // #footer .footer-container .footer-content .footer-help {
  //   width: 30%;
  // }
}
